[submodule "makd"]
	path = submodules/makd
	url = git@github.com:sociomantic-tsunami/makd.git
[submodule "ocean"]
	path = submodules/ocean
	url = git@github.com:sociomantic-tsunami/ocean.git
[submodule "redis"]
	path = submodules/redis
	url = git@github.com:adilbaig/Tiny-Redis.git
